<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <style>
                body{
                    background-color: blueviolet
                }
                </style>
    <nav class="navbar  bg-dark navbar- #e3f2fd">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/addbook">Add Book</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/viewbook">View Book</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-6">
                <div class="jumbotron">
                    <h1 class="display-4">Official Site</h1>
                    <hr class="my-4">
                    <p>As an intellectual object, a book is prototypically a composition of such great length that it takes a considerable investment of time to compose and a still considerable, though not so extensive, investment of time to read. This sense of book has a restricted and an unrestricted sense. In the restricted sense, a book is a self-sufficient section or part of a longer composition, a usage that reflects the fact that, in antiquity, long works had to be written on several scrolls, and each scroll had to be identified by the book it contained. So, for instance, each part of Aristotle's Physics is called a book, as of course, the Bible encompasses many different books. In the unrestricted sense, a book is the compositional whole of which such sections, whether called books or chapters or parts, are parts.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html